<div class="container">
  <h1 class="font-weight-bold">All our Flats</h1>
  <p>All <%= @flats.count %> flats</p>
  <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-4">
          <div class='card m-1'>
            <img src=<%= flat.picture %> alt="" class="card-img-top">
            <div class="card-body card-flat">
              <h5 class="card-title"><%= flat.name %></h5>
              <p class="card-text"><%= flat.address %></p>
              <div class="d-flex text-align-center">
                <i class="fas fa-users"></i>
                <p class="mr-2"><%= flat.number_of_guests %></p>
                <i class="fas fa-euro-sign"></i>
                <p><%= flat.price_per_night %></p>
              </div>
              <div class="d-flex">
                <%= link_to "More info", flat_path(flat), class: 'text-primary mr-3' %>
                <%= link_to "Edit", edit_flat_path(flat), class: 'text-warning mr-3' %>
                <%= link_to 'Remove',
                            flat_path(flat),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
